.expandlistbtns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.expandlistbtn {
  padding-block: 0.1rem;
  border-radius: 0;
}

.renumberEnabled {
  padding-block: 0.1rem;
  border-radius: 0;
  background-color: green;
}
.renumberEnabled:hover {
  background-color: green;
}
.renumberDisabled {
  padding-block: 0.1rem;
  border-radius: 0;
}
