.infoline {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
}

.infobox {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}

.infobox .info-key {
  color: yellow;
}

.line-type {
  font-size: 1.2rem;
}
