.infoline {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.infobox {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}

.infobox .info-key {
  color: yellow;
}
