.followEnabled {
  padding-block: 0.1rem;
  border-radius: 0;
  background-color: green;
}
.followEnabled:hover {
  background-color: green;
}
.followDisabled {
  padding-block: 0.1rem;
  border-radius: 0;
}
