.projectName {
  font-size: 1rem;
  margin-inline: 1.5rem;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.form {
  display: inline;
  font-size: 1rem;
  height: 1rem;
  margin-inline: 1.5rem;
}

.form input {
  width: fit-content;
  max-width: 125px;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ccc;
  outline: none;
}

.editbtn {
  margin-left: 0.5rem;
  cursor: pointer;
}

.checkbtn {
  margin-left: 0.5rem;
  cursor: pointer;
  font-size: 1.2rem;
}
