.table {
  max-height: 50vh;
  overflow-y: scroll;
  cursor: pointer;
}

.smallWarning {
  color: red;
}

.warningWrap {
  display: flex;
  justify-content: center;
  padding-block: 5px;
}

.trselected {
  border-left: 1px solid wheat;
  border-bottom: 1px solid wheat;
}
